<a href="https://colab.research.google.com/github/Rizwar11/PemproLanjutanRizwar/blob/main/Latihan_Soal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Post Test*

Nama : Rizwar Syaefulloh
Nrp  : 2C2230009
MK   : Lab Pemrograman lanjut

NO.1
Buatlah sebuah program yang menerima berat badan seorang atlit (bilangan bulat) dan menuliskan kelas pertandingan atlit bersangkutan. Jika berat badan atlit < 45 kg, tuliskan "tidak memenuhi kualifikasi".

In [ ]:
def menentukan_kelas_pertandingan_atlit(berat_badan):
  if berat_badan < 45:
    print("Tidak memenuhi kualifikasi")
  elif berat_badan >= 45 and berat_badan <= 50:
    print("Kelas A")
  elif berat_badan >= 50 and berat_badan <= 55:
    print("Kelas B")
  elif berat_badan >= 55 and berat_badan <= 60:
    print("Kelas C")
  elif berat_badan >= 60 and berat_badan <= 65:
    print("Kelas D")
  elif berat_badan >= 65 and berat_badan <= 70:
    print("Kelas E")
  else:
    print("Tidak memenuhi kualifikasi")

berat_badan = int(input("Masukkan berat badan atlet: "))
menentukan_kelas_pertandingan_atlit(berat_badan)

Masukkan berat badan atlet: 45
Kelas A

*NO.2*

In [ ]:
bilangan = int(input("Masukkan bilangan bulat tiga digit: "))

ratusan = bilangan // 100
puluhan = (bilangan // 10) % 10
satuan = bilangan % 10

if bilangan == ratusan**3 + puluhan**3 + satuan**3:
    print(f"{bilangan} adalah bilangan Armstrong")
else:
    print(f"{bilangan} bukan bilangan Armstrong")

Masukkan bilangan bulat tiga digit: 100
100 bukan bilangan Armstrong

*NO.3*

In [ ]:
import math

a = float(input("Masukkan jari - jari: "))
b = float(input("Volume bola: "))
c = math.sqrt(4/3 * math.pi * a**3)

Masukkan jari - jari: 15
Volume bola: 13

*NO.4*

In [10]:
def main():
    print("Masukkan tinggi badan siswa (dalam cm), akhiri dengan -999 untuk selesai:")

    total_tinggi = 0
    jumlah_siswa = 0

    while True:
        try:
            tinggi = int(input("Tinggi badan: "))

            # Cek kondisi untuk menghentikan input
            if tinggi == -999:
                break

            # Validasi tinggi badan agar berada di antara 100 dan 200 cm
            if 100 <= tinggi <= 200:
                total_tinggi += tinggi
                jumlah_siswa += 1
            else:
                print("Data tidak valid (kurang dari 100 cm atau lebih dari 200 cm) dan tidak dihitung.")

        except ValueError:
            print("Masukkan angka yang valid.")

    # Menghitung dan menampilkan rata-rata tinggi badan jika ada data valid
    if jumlah_siswa > 0:
        rata_rata = total_tinggi / jumlah_siswa
        print(f"Rata-rata tinggi badan siswa adalah {rata_rata:.2f} cm.")
    else:
        print("Tidak ada data yang valid untuk dihitung.")

if __name__ == "__main__":
    main()

Masukkan tinggi badan siswa (dalam cm), akhiri dengan -999 untuk selesai:
Tinggi badan: 120
Tinggi badan: 145
Tinggi badan: 150
Tinggi badan: -999
Rata-rata tinggi badan siswa adalah 138.33 cm.

In [11]:
def main():
    print("Masukkan tinggi badan siswa (dalam cm), akhiri dengan -999 untuk selesai:")

    total_tinggi = 0
    jumlah_siswa = 0

    while True:
        try:
            tinggi = int(input("Tinggi badan: "))

            # Cek kondisi untuk menghentikan input
            if tinggi == -999:
                break

            # Validasi tinggi badan agar berada di antara 100 dan 200 cm
            if 100 <= tinggi <= 200:
                total_tinggi += tinggi
                jumlah_siswa += 1
            else:
                print("Data tidak valid (kurang dari 100 cm atau lebih dari 200 cm) dan tidak dihitung.")

        except ValueError:
            print("Masukkan angka yang valid.")

    # Menghitung dan menampilkan rata-rata tinggi badan jika ada data valid
    if jumlah_siswa > 0:
        rata_rata = total_tinggi / jumlah_siswa
        print(f"Rata-rata tinggi badan siswa adalah {rata_rata:.2f} cm.")
    else:
        print("Tidak ada data yang valid untuk dihitung.")

if __name__ == "__main__":
    main()

Masukkan tinggi badan siswa (dalam cm), akhiri dengan -999 untuk selesai:
Tinggi badan: 120
Tinggi badan: 78
Data tidak valid (kurang dari 100 cm atau lebih dari 200 cm) dan tidak dihitung.
Tinggi badan: 167
Tinggi badan: 150
Tinggi badan: 201
Data tidak valid (kurang dari 100 cm atau lebih dari 200 cm) dan tidak dihitung.
Tinggi badan: -999
Rata-rata tinggi badan siswa adalah 145.67 cm.

In [12]:
def main():
    print("Masukkan tinggi badan siswa (dalam cm), akhiri dengan -999 untuk selesai:")

    total_tinggi = 0
    jumlah_siswa = 0

    while True:
        try:
            tinggi = int(input("Tinggi badan: "))

            # Cek kondisi untuk menghentikan input
            if tinggi == -999:
                break

            # Validasi tinggi badan agar berada di antara 100 dan 200 cm
            if 100 <= tinggi <= 200:
                total_tinggi += tinggi
                jumlah_siswa += 1
            else:
                print("Data tidak valid (kurang dari 100 cm atau lebih dari 200 cm) dan tidak dihitung.")

        except ValueError:
            print("Masukkan angka yang valid.")

    # Menghitung dan menampilkan rata-rata tinggi badan jika ada data valid
    if jumlah_siswa > 0:
        rata_rata = total_tinggi / jumlah_siswa
        print(f"Rata-rata tinggi badan siswa adalah {rata_rata:.2f} cm.")
    else:
        print("Tidak ada data yang valid untuk dihitung.")

if __name__ == "__main__":
    main()

Masukkan tinggi badan siswa (dalam cm), akhiri dengan -999 untuk selesai:
Tinggi badan: -999
Tidak ada data yang valid untuk dihitung.

In [13]:
def main():
    print("Masukkan tinggi badan siswa (dalam cm), akhiri dengan -999 untuk selesai:")

    total_tinggi = 0
    jumlah_siswa = 0

    while True:
        try:
            tinggi = int(input("Tinggi badan: "))

            # Cek kondisi untuk menghentikan input
            if tinggi == -999:
                break

            # Validasi tinggi badan agar berada di antara 100 dan 200 cm
            if 100 <= tinggi <= 200:
                total_tinggi += tinggi
                jumlah_siswa += 1
            else:
                print("Data tidak valid (kurang dari 100 cm atau lebih dari 200 cm) dan tidak dihitung.")

        except ValueError:
            print("Masukkan angka yang valid.")

    # Menghitung dan menampilkan rata-rata tinggi badan jika ada data valid
    if jumlah_siswa > 0:
        rata_rata = total_tinggi / jumlah_siswa
        print(f"Rata-rata tinggi badan siswa adalah {rata_rata:.2f} cm.")
    else:
        print("Tidak ada data yang valid untuk dihitung.")

if __name__ == "__main__":
    main()

Masukkan tinggi badan siswa (dalam cm), akhiri dengan -999 untuk selesai:
Tinggi badan: 78
Data tidak valid (kurang dari 100 cm atau lebih dari 200 cm) dan tidak dihitung.
Tinggi badan: 201
Data tidak valid (kurang dari 100 cm atau lebih dari 200 cm) dan tidak dihitung.
Tinggi badan: -999
Tidak ada data yang valid untuk dihitung.

*NO.5*

In [17]:
n = int(input("Masukkan jumlah mahasiswa: "))

data_mahasiswa = []

for i in range(n):
    nama = input("Masukkan nama mahasiswa: ")
    praktikum = int(input("Masukkan nilai praktikum: "))
    uts = int(input("Masukkan nilai uts: "))
    uas = int(input("Masukkan nilai uas: "))

    nilai_akhir = 0.2 * praktikum + 0.4 * uts + 0.4 * uas

    if nilai_akhir >= 85:
        indeks = "A"
    elif nilai_akhir >= 75:
        indeks = "AB"
    elif nilai_akhir >= 70:
        indeks = "B"
    elif nilai_akhir >= 60:
        indeks = "BC"
    elif nilai_akhir >= 50:
        indeks = "C"
    elif nilai_akhir >= 40:
        indeks = "D"
    else:
        indeks = "E"

    data_mahasiswa.append([nama, praktikum, uts, uas, nilai_akhir, indeks])

print("----------------------------------------------------")
print("Nama | Praktikum | UTS | UAS | Akhir | Indeks")
print("----------------------------------------------------")

for mahasiswa in data_mahasiswa:
    print(f"{mahasiswa[0]} | {mahasiswa[1]} | {mahasiswa[2]} | {mahasiswa[3]} | {mahasiswa[4]} | {mahasiswa[5]}")

Masukkan jumlah mahasiswa: 2
Masukkan nama mahasiswa: tara
Masukkan nilai praktikum: 80
Masukkan nilai uts: 90
Masukkan nilai uas: 100
Masukkan nama mahasiswa: erlan
Masukkan nilai praktikum: 90
Masukkan nilai uts: 90
Masukkan nilai uas: 100
----------------------------------------------------
Nama | Praktikum | UTS | UAS | Akhir | Indeks
----------------------------------------------------
tara | 80 | 90 | 100 | 92.0 | A
erlan | 90 | 90 | 100 | 94.0 | A